<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
    <title>About</title>
</head>
<body>
    {{>header}}

    <div class="text" style="margin: 30px;">

        <img src="./img/IMG-20200822-WA0138~2.jpg" alt="sanket "><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque molestias beatae dolorum in aliquam vitae deserunt a laudantium! Ipsum debitis consequuntur doloribus quibusdam ratione reiciendis aut officia? Explicabo, delectus molestias.  
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iusto amet quasi necessitatibus. Autem sunt vitae error, facere dolore quidem optio veritatis adipisci et rem sequi necessitatibus repellendus enim illo delectus, eaque mollitia fugiat, eveniet omnis recusandae. Eos, vitae necessitatibus molestiae nemo quae, velit possimus voluptatem neque sunt quaerat qui numquam aliquid molestias amet earum beatae consequuntur dolorem! Quam veritatis alias deleniti labore iure distinctio consequuntur voluptas, cum sit quos dolore. Aperiam enim officia optio nobis! Maxime, voluptas odio? Unde provident ad accusantium repudiandae laboriosam, hic fuga deserunt itaque eligendi veniam consectetur autem magni, nam consequatur. At accusamus in ullam.
        </div>
    </div>

    {{>footer}}
</body>
</html>