<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
    <title>Help</title>
</head>
<body>
    {{>header}}
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ex velit soluta itaque ratione, omnis exercitationem quaerat, ea obcaecati natus dignissimos sapiente iusto sit voluptates eaque consequatur officiis vel! Accusamu Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, voluptate autem doloribus asperiores corrupti, in odio cumque debitis aspernatur quam quos optio! Dignissimos accusantium nobis eveniet et adipisci, delectus velit mollitia cumque corrupti laborum praesentium hic quibusdam incidunt ut saepe dicta odit, inventore distinctio voluptate ipsam possimus ipsa! Natus consequatur ad, modi aspernatur nihil eius numquam explicabo sequi iusto rem assumenda cum debitis minima recusandae voluptatibus labore commodi dolor! Nesciunt, adipisci perspiciatis? Expedita ea, distinctio hic consequuntur deserunt molestias voluptatum optio, incidunt quae fuga fugiat quis natus alias corrupti nulla ipsa voluptates temporibus ad labore officia? Minus ipsum adipisci nesciunt ad enim, repellat veniam nisi minima libero beatae quod ducimus praesentium fugiat, quae quibusdam nam a voluptatibus eaque doloribus molestiae sit suscipit officiis! Pariatur eius eaque eum ullam consectetur dicta atque saepe expedita, ipsa delectus et soluta consequatur, ex corporis eos error aliquam quidem? Dicta praesentium voluptas ipsa excepturi ad atque fugiat enim, deleniti aspernatur obcaecati aut temporibus esse architecto voluptatem numquam rem cumque repellendus reiciendis nemo sunt? Velit impedit totam libero. Eveniet molestiae iure suscipit pariatur laboriosam quisquam, sunt autem dicta odio ipsum repellat facilis rerum in vitae labore nostrum cupiditate temporibus nisi soluta eligendi voluptates recusandae esse sed tempora! Quidem deleniti, nostrum adipisci aperiam explicabo vitae voluptas, nam similique non corporis fugiat. Est, possimus, explicabo omnis cumque nobis itaque iste ipsa officiis soluta cupiditate, quaerat magnam unde id rerum molestiae quibusdam. Distinctio fugit sit inventore soluta asperiores earum sapiente esse saepe dolor quam. Totam dicta numquam omnis nihil odio consequuntur maxime obcaecati quaerat architecto, ipsam eum vero deserunt porro, est culpa nemo, magni dolore quae saepe quos accusamus non! Quis quibusdam consectetur dolore ducimus, qui odit molestias dolores quidem nesciunt. Doloribus ea ut debitis, quos totam et sit consectetur nemo inventore in earum ipsa molestias tenetur deleniti impedit.</p>
    {{>footer}}
</body>
</html>